---
services:
  registry:
    image: registry:latest
    container_name: docker-registry
    ports:
      - 5000:5000
    network_mode: bridge
    environment:
      - REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY=/data # custom root dir
      - REGISTRY_STORAGE_DELETE_ENABLED=TRUE # Removing and retaging images
      - REGISTRY_AUTH=htpasswd
      - REGISTRY_AUTH_HTPASSWD_PATH=/auth/registry.password
      - REGISTRY_AUTH_HTPASSWD_REALM=Registry Realm
    volumes:
      #- /etc/docker/registry/backup:/var/lib/registry
      - /etc/docker/registry/data:/data
      - /etc/docker/registry/auth/registry.password:/auth/registry.password
    restart: always
