---
volumes:
  data:
    name: podfetch_data
services:
  app:
    image: samuel19982/podfetch:latest
    container_name: podfetch
    ports:
      - 4135:8000
    volumes:
      - data:/app/podcasts:rw
    environment:
      - POLLING_INTERVAL=300
      - SERVER_URL=${SERVER_URL}
      - DATABASE_URL=${DATABASE_URL}
      - GPODDER_INTEGRATION_ENABLED=true
      - BASIC_AUTH=true
      - USERNAME=${USERNAME}
      - PASSWORD=${PASSWORD}
    security_opt:
      - apparmor:unconfined
    restart: unless-stopped
