services:
  mosquitto:
    image: eclipse-mosquitto:2.0.22
    container_name: mqtt
    networks:
      - proxy
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./data:/mosquitto/data
      - ./log:/mosquitto/log
      - /etc/ssl/certs/ca-certificates.crt:/mosquitto/config/ca.crt:ro
    restart: unless-stopped

networks:
  proxy:
    external: true
