---
services:
  snapp:
    container_name: snapp
    image: uraniadev/snapp:latest
    mem_limit: 4g
    cpu_shares: 1024
    ports:
      - 6421:3000
    environment:
      ORIGIN: ${ORIGIN}
      ADMIN_USERNAME: ${ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      NODE_ENV: production
      TIMEZONE: Europe/Zagreb
      DATABASE_PROVIDER: postgres
      DATABASE_URL: postgresql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_URL}/snapp
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
    env_file:
      - .env
    restart: always
