---
services:
  portainer-ee:
    image: "portainer/portainer-ee:latest"
    container_name: portainer
    volumes:
      - /etc/portainer/data:/data
      - "/var/run/docker.sock:/var/run/docker.sock"
    ports:
      - "9443:9443"
      - "8000:8000"
    network_mode: bridge
    restart: always
