---
services:
  umami:
    image: ghcr.io/umami-software/umami:postgresql-latest
    container_name: umami
    ports:
      - "3003:3000"
    network_mode: bridge
    environment:
      DATABASE_URL: postgresql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_URL}/umami
      DATABASE_TYPE: postgresql
      APP_SECRET: ${APP_SECRET}
    restart: always
