---
volumes:
  data:
    name: calibre-web-automated_data
services:
  app:
    image: crocodilestick/calibre-web-automated:v3.1.4
    container_name: calibre-web-automated
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 8083 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 90s
    ports:
      - 8213:8083
    network_mode: bridge
    security_opt:
      - apparmor:unconfined
    environment:
      PUID: 1026
      PGID: 100
      TZ: Europe/Zagreb
    volumes:
      - data:/config:rw
      - /mnt/biblioteka/ingest:/cwa-book-ingest:rw
      - /mnt/biblioteka/knjige:/calibre-library:rw
    restart: always
