---
services:
  speedtest-tracker:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    healthcheck:
      test: curl -f http://localhost:80/ || exit 1
    ports:
      - 8999:80
      - 8995:9000
    network_mode: bridge
    environment:
      APP_NAME: Speedtest
      DB_CONNECTION: pgsql
      DB_HOST: ${DB_HOST}
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      APP_KEY: ${APP_KEY}
      PUBLIC_DASHBOARD: "true"
      APP_TIMEZONE: "Europe/Zagreb"
      DISPLAY_TIMEZONE: "Europe/Zagreb"
      #SPEEDTEST_SCHEDULE: "0 * * * *" #every hour
      SPEEDTEST_SCHEDULE: "15 */1 * * *" #at minute 15 every hour
      SPEEDTEST_SERVERS: 2453,31004,55191,44719
      PRUNE_RESULTS_OLDER_THAN: 90 # days
    volumes:
      - /etc/docker/speedtest/config:/config
    restart: always
