---
services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    ports:
      - 8090:8080
    network_mode: bridge
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOCKER_API_VERSION=1.52
      - SHOUTRRR_DEBUG=true
      #- WATCHTOWER_DISABLE_CONTAINERS: nextcloud,mariadb,vaultwarden
      #- WATCHTOWER_SCHEDULE=0 0 3 * * *
      - TZ=Europe/Zagreb
      - WATCHTOWER_CLEANUP=true #Removes old images after updating
      - WATCHTOWER_INCLUDE_STOPPED=true #Will also include created and exited containers
      - WATCHTOWER_INCLUDE_RESTARTING=true #Will also include restarting containers.
      - WATCHTOWER_ROLLING_RESTART=true #Restart one image at time instead of stopping and starting all at once
      #- WATCHTOWER_HTTP_API_METRICS=true #For Homepage Dashboard Widget
    restart: always
