---
services:
  influxdb:
    image: influxdb
    container_name: influxdb
    ports:
      - 8086:8086
    network_mode: bridge
    volumes: # NFS Directories
      - /mnt/influxdb2:/var/lib/influxdb2
    restart: unless-stopped
