---
services:
  uptime-kuma:
    image: louislam/uptime-kuma
    container_name: uptime-kuma
    ports:
      - 3444:3001
    network_mode: bridge
    environment:
      - TZ=Europe/Zagreb
    volumes:
      - /etc/docker/uptime-kuma/data:/app/data
    restart: always
